*{
  margin: 20;
  padding: 20;
  box-sizing: border-box;
}
body{
  background-color: #121212;
  color: #fff ;
}

.box{
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  margin: 10px;
}